* {
    box-sizing: border-box;
  }
  
  body {
    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    height: 100%;
  }
  
  
  .container {
    top: 45px;
    position:relative;
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .show-loader .container {
    opacity: 0.5;
  }
  .show-loader .loader {
    display: block;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  