<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Authentification</title>

  </head>
  <body>
    <div class="main">
      <h1>Céer un nouveau mot de passe</h1>
      
      <p class="a">Le mot de passe doit contenir au moins une majuscule,une muniscule,un chiffre un caractere et un chiffre et doit faire au moins 8 caractères</p>
      
      </div>
    <div class="container">
      <form id="login-form">
        <div *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password" />
        <label for="confirmpassword">Confirmer votre mot de passe</label>
        <input type="password" id="cpassword" name="confirmpassword" required required [(ngModel)]="cpassword"/>

        <input type="submit" (click)="userUpdatePassword($event)" value="Créer" />
      </form>
     
      
    </div>

    <script>
      const form = document.getElementById("login-form");
      const loader = document.querySelector(".loader");

      form.addEventListener("submit", (e) => {
        e.preventDefault();

        // Show loader
        document.body.classList.add("show-loader");

        // Fake login request
        setTimeout(() => {
          // Hide loader
          document.body.classList.remove("show-loader");

          // Check username and password
          const username = form.username.value.trim();
          const password = form.password.value.trim();

          if (username === "admin" && password === "password") {
            alert("Bienvenue !");
          } else {
            alert("Nom d'utilisateur ou mot de passe incorrect.");
          }
        }, 3000);
      });
    </script>
  </body>
</html>
